<section class="section swatch-black-beige adding">
  <div class="container">
    <h1 class="headline hyper hairline">Listing curriculums</h1>

    <div class="add">
      <u><%= link_to 'New Curriculum', new_curriculum_path %></u>
    </div><br>

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="prim">Name</th>
          <th>Country</th>
          <th>Experience</th>
          <th>Availability</th>
          <th>Skills</th>
          <th>Languages</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @curriculums.each do |curriculum| %>
        <tr>
          <td><%= curriculum.first_name %>&nbsp;<%= curriculum.last_name %></td>
          <td><%= curriculum.country %></td>
          <td><%= curriculum.experience %></td>
          <td><%= curriculum.availability %></td>
          <td><%= curriculum.skills_list %></td>
          <td><% curriculum.languages.each do |language|%>
                <%= language.name %>&nbsp;
                <%= language.proeficiency %><br>
             <% end %>
          </td>
          
          <p></p>
          <td><%= link_to 'Show', curriculum %></td>
          <td><%= link_to 'Edit', edit_curriculum_path(curriculum) %></td>
          <td><%= link_to 'Destroy', curriculum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br><br>
</section>
