<section class="section swatch-black-beige">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Experience:</strong><br>
      <%= @curriculum.experience %>
    </p>

    <p>
      <strong>Recent work experience:</strong><br>
        
    </p>

    <p>
      <strong>Skills:</strong><br>
      <%= @curriculum.skills %>
    </p>

    <p>
      <strong>Education:</strong><br>
      <%= @curriculum.education %>
    </p>

    <p>
      <strong>Languages:</strong><br>
      <%= @curriculum.languages %>
    </p>

    <%= link_to 'Edit', edit_curriculum_path(@curriculum) %> |
    <%= link_to 'Back', curriculums_path %>
  </div>
</section>
<div class="cvs"><br>
  <div class="container cvs">
    <section class="section swatch-beige-black">
      
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <a class="logo" href="/home">
            <img class="img-rounded" src="<%=image_path("design/people/ivan.png")%>" alt="a clock">
          </a>
          <p><a href="home" type="button" class="btn btn-primary">Hire Carlos</a></p>
        </div>

        <div class="col-md-7 info">
          <h1 class="cv_name"><%= @curriculum.name %></h1>
          <div class="date_member">Member since October  3, 2011</div>
          <div class="country">United States</div><p></p>
          <div class="member_info"><%= @curriculum.profile %>
          </div><br>
          <ul class="detalles">     
            <li><a class="btn btn-default" href="home" role="button">Objetive C</a></li>
            <li><a class="btn btn-default" href="home" role="button">IOS</a></li>
            <li><a class="btn btn-default" href="home" role="button">SQL</a></li>
            <li><a class="btn btn-default" href="home" role="button">C++</a></li>
            <li><a class="btn btn-default" href="home" role="button">Java</a></li>
            <li><a class="btn btn-default" href="home" role="button">Cocoa Touch</a></li>
            <li><a class="btn btn-default" href="home" role="button">Aplle Xcode</a></li>
            <li><a class="btn btn-default" href="home" role="button">HTML5</a></li>
            <li><a class="btn btn-default" href="home" role="button">Show More</a></li>
          </ul>
        </div>  
      </div><br>

      <hr class="linea" align="center" width="90%">

      <div class="row">
        <div class="col-md-3 col-md-offset-1 characters"><br>
          <div class="titulo"><strong>PORTFOLIO:</strong></div>
          <ul>
            <li><a href="home"><b>Life360 (via toptal)</b></a>
              <p>iOS</p>
            </li>
            <li><a href="home"><b>Software Factory LLC</b></a>
              <p>iOS, Objective-C, CocoaTouch, Xcode</p>
            </li>
            <li><a href="home"><b>IntegraSoft</b></a>
              <p>.NET, SQL, Oracle, HTML, CSS, ASP.NET</p>
            </li>
          </ul>
        </div>
        <div class="col-md-3"><br>
          <div class="titulo"><strong>EXPERIENCE:</strong></div>
          <ul>
            <li><b>Objective-C, </b>4 years</li><p></p>
            <li><b>Java, </b>1 years</li><p></p>
            <li><b>C++, </b>1 years</li><p></p>
            <li><b>HTML5, </b>1 years</li><p></p>
          </ul>
        </div>
        <div class="col-md-3">
          <a class="logo" href="/home">
            <img class="svg-inject" src="<%=image_path("design/vector/img-1-600x518.png")%>" alt="a clock">
          </a>
        </div><br>
        <hr class="linea" align="center" width="90%">
      </div><br>

      <div class="row segunda">
        <div class="col-md-3 col-md-offset-1 segunda">
          <div class="titulo"><strong>AVAILABILITY:</strong></div>
          Part-time
          <br>
          <br>
          <br>
        </div>
        <div class="col-md-3 segunda">
          <div class="titulo"><strong>PREFERRED ENVIRONMENT:</strong></div>
          iOS, Mac OS X
          <br>
          <br>
          <br>
        </div>
        <div class="col-md-3">
          <div class="titulo"><strong>THE MOST AMAZING...</strong></div>
          ... app I've built is Life360 Family Locator, helps family keep connected.
        </div>
      </div>

      <div class="row">
        <hr class="linea" align="center" width="90%"><br>
        <div class="col-md-2 col-md-offset-1">
          <div class="titulo"><strong>EMPLOYMENT:</strong></div>
        </div>
        <div class="col-md-8">
          <ul class="subtitulos">
            <b>Life360 (via toptal), Senior Developer (2011 - PRESENT)</b><p></p>
            <ul class="tips">
              <li>Worked on app currently under development/unreleased.</li><p></p>
              <li>Built weather alert and a police scanner, with both apps successfully deployed to the App Store: http://itunes.apple.com/us/app/earthquakes!-earthquake-map/id485047858?mt=8</li><p></p>
              <li>Details: app connects to web server, fetches up-to-the-minute information from USGS website, and displays recent earthquakes; users can be alerted of nearby earthquakes and share findings via Twitter and Facebook.</li><p></p>
              <li>http://itunes.apple.com/us/app/police-scannerradio/id499955111?mt=8</li><p></p>
              <li>Details: connects to web server, fetches current police scanner feeds, and uses iOS audio services to stream audio to user.</li><p></p>
              Technologies: iOS
            </ul><br>
          </ul>
          <ul class="subtitulos">
            <b>Software Factory LLC, Senior Developer (2009 - 2011)</b><p></p>
            <ul class="tips">
              <li>Designed and developed games for mobile platforms, including iPhone and iPad. Technologies: iOS, Objective-C, CocoaTouch, Xcode</li>
            </ul><br>
          </ul>
          <ul class="subtitulos">
            <b>IntegraSoft, Senior Developer (2004 - 2009)</b><p></p>
            <ul class="tips">
              <li>Designed and developed applications for a broad array of customers within the construction, tobacco, and apparel industries.</li><p></p>
              <li>Worked as lead developer (heading teams of 5 to 10) on a host of projects.</li>
              Technologies: .NET, SQL, Oracle, HTML, CSS, ASP.NET
            </ul>
          </ul>
        </div>
      </div>

      <div class="row">
        <hr class="linea" align="centert" width="90%"><br>
        <div class="col-md-2 col-md-offset-1">
          <div class="titulo"><strong>EXPERIENCE:</strong></div>
        </div>
        <div class="col-md-7">
          <ul class="subtitulos">
            <b>Life360 (Development)</b>
            <p><a>https://itunes.apple.com/us/app/life360-family-locator/id384830320?mt=8</a></p>
            <p>Life360 is the world’s leading location-sharing app, and is the best way to stay connected to family, friends, and everyone in between.</p>
            Use Life360 to: 
            <ul class="tips">
              <li>Create discreet Circles for the important people in your life</li>
              <li>Share your location with who you want, when you want </li>
              <li>Get automatic notifications when friends and family arrive at favorite Places</li>
              <li>Communicate one-to-one or to an entire group with free in-app messaging</li>
            </ul><br>
          </ul>
          <ul class="subtitulos">
            <b>Paratroopers: Air Assault HD (Development)</b>
            <p><a>http://itunes.apple.com/us/app/paratroopers-air-assaulthd/id364475738?mt=8</a></p>
            <p>Designed app for iPhone and iPad. Commissioned Brazilian design company for graphics. Worked on the development, mockups, and testing. App featured by Apple in “New and Noteworthy” and “Whatʼs Hot” categories.</p>
          </ul><br>
          <ul class="subtitulos">
            <b>Advanced Level & Inclinometer: TiltMeter (Development)</b>
            <p><a>http://itunes.apple.com/us/app/advanced-levelinclinometer/id288338285?mt=8</a></p>
            <p>Worked on design, development, and graphics of one of 2008's first iOS apps.</p>
          </ul><br>
          <ul class="subtitulos">
            <b>Cerveza Port Royal (Development)</b>
            <p><a>http://itunes.apple.com/us/app/cerveza-portroyal/id392461795?mt=8</a></p>
            <p>Designed and developed. Commissioned graphics to a local design and graphics company.</p>
          </ul><br>
          <ul class="subtitulos">
            <b>The H-1B: An iOS Developer's Journey from Honduras to Silicon Valley (Publication)</b>
            <p><a>http://www.toptal.com/freelance/the-h-1b-an-ios-developers-journey-from-honduras-to-silicon-valley</a></p>
            <p>The Toptal Engineering Blog is a platform where engineers and industry leaders share projects and discuss technologies.</p>
          </ul>
        </div>
      </div>

      <div class="row">
        <hr class="linea" align="center" width="90%"><br>
        <div class="col-md-2 col-md-offset-1">
          <div class="titulo"><strong>SKILLS:</strong></div>
        </div>
        <div class="col-md-7">
          <ul class="subtitulos">
            <b>Languages</b>
            <p>Objective-C, Java, C++, HTML5</p>
          </ul>
          <ul class="subtitulos">
            <b>Platforms</b>
            <p>iOS</p>
          </ul>
          <ul class="subtitulos">
            <b>Storage</b>
            <p>SQL</p>
          </ul>
          <ul class="subtitulos">
            <b>Frameworks</b>
            <p>Cocoa Touch</p>
          </ul>
          <ul class="subtitulos">
            <b>Tools</b>
            <p>Apple Xcode</p>
          </ul>
          <ul class="subtitulos">
            <b>Paradigms</b>
            <p>Agile software development</p>
          </ul>
        </div>
      </div>

      <div class="row">
        <hr class="linea" align="center" width="90%"><br>
        <div class="col-md-2 col-md-offset-1">
          <div class="titulo"><strong>EDUCATION:</strong></div>
        </div>
        <div class="col-md-7">
          <ul class="subtitulos">
            <b>Bachelor's Degree degree in Computer Science (1997 - 2001)</b>
            <p>Universidad Tecnologica Centroamericana - Unitec - San Pedro Sula, Honduras</p>
          </ul>
        </div>
      </div><br><br>

      <div class="row footer">
        <div class="col-md-2 col-md-offset-1">
          <a class="logo" href="/home">
            <img class="cabecera" src="<%=image_path("small_timba.png")%>" alt="a clock">
          </a>
        </div>
        <div class="col-md-4">Exclusive access to top developers</div>
        <div class="col-md-3">Timba.co<br>Call us: 888.604.3188</div>
      </div>
    </section>
  </div>
  
  <br>
  <div class="container foot">
    <section class="section swatch-beige-black">
      <p>
          <a href="home" type="button" class="btn btn-primary btn-lg">To view more profiles</a>
        </p>
      </section>
  </div>
  <br><br>
</div>