<div class="cvs"><br>
  <div class="container cvs">
    <section class="section swatch-beige-black">
      
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <a class="logo" href="/home">
            <img class="img-rounded" src="<%=image_path("design/people/user.png")%>" alt="a clock">
          </a>
          <p><a href="/home" type="button" class="btn btn-primary">Hire&nbsp;<%= @curriculum.first_name %></a></p>
        </div>

        <div class="col-md-7 info">
          <h1 class="cv_name"><%= @curriculum.first_name %>&nbsp;<%= @curriculum.last_name %></h1>
          <div class="country"><%= @curriculum.country %></div><p></p>
          <div class="member_info"><%= @curriculum.profile %>
          </div><br>
          <ul class="detalles">     
            <li><a class="btn btn-default" href="/home" role="button">Objetive C</a></li>
            <li><a class="btn btn-default" href="/home" role="button">IOS</a></li>
            <li><a class="btn btn-default" href="/home" role="button">SQL</a></li>
            <li><a class="btn btn-default" href="/home" role="button">C++</a></li>
            <li><a class="btn btn-default" href="/home" role="button">Java</a></li>
            <li><a class="btn btn-default" href="/home" role="button">Cocoa Touch</a></li>
            <li><a class="btn btn-default" href="/home" role="button">Aplle Xcode</a></li>
            <li><a class="btn btn-default" href="/home" role="button">HTML5</a></li>
            <li><a class="btn btn-default" href="/home" role="button">Show More</a></li>
          </ul>
        </div>  
      </div><br>

      <hr class="linea" align="center" width="90%">

      <div class="row">
        <div class="col-md-3 col-md-offset-1 characters"><br>
          <div class="titulo"><strong>PORTFOLIO:</strong></div>
          <ul>
            <li><a href="/home"><b>Life360 (via toptal)</b></a>
              <p>iOS</p>
            </li>
            <li><a href="/home"><b>Software Factory LLC</b></a>
              <p>iOS, Objective-C, CocoaTouch, Xcode</p>
            </li>
            <li><a href="/home"><b>IntegraSoft</b></a>
              <p>.NET, SQL, Oracle, HTML, CSS, ASP.NET</p>
            </li>
          </ul>
        </div>
        <div class="col-md-3"><br>
          <div class="titulo"><strong>EXPERIENCE:</strong></div>
          <ul>
            <b><%= @curriculum.experience %> Years</b>
          </ul>
        </div>
        <div class="col-md-3">
          <a class="logo" href="/home">
            <img class="svg-inject" src="<%=image_path("design/vector/img-1-600x518.png")%>" alt="a clock">
          </a>
        </div><br>
        <hr class="linea" align="center" width="90%">
      </div><br>

      <div class="row segunda">
        <div class="col-md-3 col-md-offset-1 segunda">
          <div class="titulo"><strong>AVAILABILITY:</strong></div>
            <%= @curriculum.availability %>
          <br>
          <br>
        </div>
        <div class="col-md-3 segunda">
          <div class="titulo"><strong>PREFERRED ENVIRONMENT:</strong></div>
            <%= @curriculum.preferred_environment %>
          <br>
          <br>
          <br>
        </div>
        <div class="col-md-3">
          <div class="titulo"><strong>LANGUAGES:</strong></div>
            <ul>
              <% @curriculum.languages.each do |a| %>
                <li><%= a %></li>
              <% end %>
            </ul>
        </div>
      </div>

      <div class="row">
        <hr class="linea" align="center" width="90%"><br>
        <div class="col-md-2 col-md-offset-1">
          <div class="titulo"><strong>EMPLOYMENT:</strong></div>
        </div>
        <div class="col-md-8">
          <ul class="subtitulos">
            <ul class="subtitulos">
              <% @curriculum.recent_work_experience.each do |a| %>
                <li><%= a %></li>
            <% end %>
            </ul>
          </ul>
        </div>
      </div>

      <div class="row">
        <hr class="linea" align="center" width="90%"><br>
        <div class="col-md-2 col-md-offset-1">
          <div class="titulo"><strong>SKILLS:</strong></div>
        </div>
        <div class="col-md-7">
          <ul class="subtitulos">

            <ul class="subtitulos">
              <% @curriculum.skills.each do |a| %>
                <li><%= a %></li>
              <% end %>
            </ul>

          </ul>
        </div>
      </div>

      <div class="row">
        <hr class="linea" align="center" width="90%"><br>
        <div class="col-md-2 col-md-offset-1">
          <div class="titulo"><strong>EDUCATION:</strong></div>
        </div>
        <div class="col-md-7">
          <ul class="subtitulos">
            <ul class="subtitulos">
              <% @curriculum.education.each do |a| %>
                <li><%= a %></li>
            <% end %>
            </ul>
          </ul>
        </div>
      </div><br><br>

      <div class="row footer">
        <div class="col-md-2 col-md-offset-1">
          <a class="logo" href="/home">
            <img class="cabecera" src="<%=image_path("small_timba.png")%>" alt="a clock">
          </a>
        </div>
        <div class="col-md-4">Exclusive access to top developers</div>
        <div class="col-md-3">Timba.co<br>Call us: 888.604.3188</div>
      </div>
    </section>
  </div>
  
  <br>
  <div class="container foot">
    <section class="section swatch-beige-black">
      <p>
        <a href="/curriculums" type="button" class="btn btn-primary btn-lg">To view more profiles</a>
      </p>
      <div class="container final">
        <%= link_to 'Edit', edit_curriculum_path(@curriculum) %> |
        <%= link_to 'Back', curriculums_path %>
      </div>
    </section>
  </div>
  <br><br>
</div>