<section class="section swatch-white-red">
    <div class="container">
        <header class="section-header underline text-center">
            <h1 class="headline super hairline">Latest news</h1>
        </header>
        <div class="carousel slide" id="news2">
            <ol class="carousel-indicators">
                <li data-slide-to="0" data-target="#news2" class="active"></li>
                <li data-slide-to="1" data-target="#news2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="grid-post swatch-black-beige">
                                <article class="post post-showinfo">
                                    <div class="post-media">
                                        <a class="feature-image magnific hover-animate" href="assets/images/design/vector/img-4-800x700.png" title="Thats a nice image">
                                            <img alt="some image" src="<%=image_path("design/vector/img-4-800x700.png")%>">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                    <div class="post-head text-center">
                                        <h3 class="post-title">
                                            <a href="post.html">
                                                This theme is so nice!
                                            </a>
                                        </h3>
                                        <small class="post-author">
                                            <a href="blog.html">John Langan,</a>
                                        </small>
                                        <small class="post-date">
                                            <a href="post.html">12 August 2014</a>
                                        </small>
                                        <div class="post-icon flat-shadow flat-hex">
                                            <div class="hex hex-big">
                                                <i class="fa fa-camera"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quo, veniam culpa maiores iure distinctio atque similique veritatis rem et adipisci eveniet aspernatur aut sapiente amet doloremque eos quasi numquam.
                                        </p>
                                        <a class="more-link" href="post.html">
                                            read more
                                        </a>
                                    </div>
                                    <div class="post-extras">
                                        <div class="text-center">
                                            <span class="post-category">
                                                <a href="post.html">
                                                    <i class="fa fa-folder-open"></i>
                                                    News
                                                </a>
                                            </span>
                                            <span class="post-tags">
                                                <i class="fa fa-tags"></i>

                                                <a href="post.html">
                                                  design,
                                              </a>


                                              <a href="post.html">
                                                  flat,
                                              </a>


                                              <a href="post.html">
                                                  responsive,
                                              </a>


                                              <a href="post.html">
                                                  metro
                                              </a>

                                          </span>
                                      </div>
                                      <div class="text-center">
                                        <span class="post-link">
                                            <a href="post.html">
                                                <i class="fa fa-comments"></i>
                                                4 comments
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="grid-post swatch-black-beige">
                            <article class="post post-showinfo">
                                <div class="post-media">
                                </div>
                                <div class="post-head text-center">
                                    <h3 class="post-title">
                                        <a href="post.html">
                                            Bootstrap is Really Important
                                        </a>
                                    </h3>
                                    <small class="post-author">
                                        <a href="blog.html">Manos Proistak,</a>
                                    </small>
                                    <small class="post-date">
                                        <a href="post.html">25 July 2013</a>
                                    </small>
                                    <div class="post-icon flat-shadow flat-hex">
                                        <div class="hex hex-big">
                                            <i class="fa fa-file-text"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quo, veniam culpa maiores iure distinctio atque similique veritatis rem et adipisci eveniet aspernatur aut sapiente amet doloremque eos quasi numquam. In lobortis eget ipsum vestibulum
                                        tristique. Donec luctus, dolor ut scelerisque luctus, erat elit consectetur arcu, eu pellentesque felis nulla sed massa. Nunc enim sem, ullamcorper ac tincidunt eget, euismod nec leo. Nunc imperdiet
                                        fringilla erat, sit amet iaculis ipsum congue et.
                                    </p>
                                    <a class="more-link" href="post.html">
                                        read more
                                    </a>
                                </div>
                                <div class="post-extras">
                                    <div class="text-center">
                                        <span class="post-category">
                                            <a href="post.html">
                                                <i class="fa fa-folder-open"></i>
                                                News
                                            </a>
                                        </span>
                                        <span class="post-tags">
                                            <i class="fa fa-tags"></i>

                                            <a href="post.html">
                                              design,
                                          </a>


                                          <a href="post.html">
                                              blog
                                          </a>



                                      </span>
                                  </div>
                                  <div class="text-center">
                                    <span class="post-link">
                                        <a href="post.html">
                                            <i class="fa fa-comments"></i>
                                            2 comments
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="grid-post swatch-black-beige">
                        <article class="post post-showinfo">
                            <div class="post-media">
                                <div id="slider-flex5" class="flexslider text-left feature-slider" data-flex-speed="7000" data-flex-animation="slide" data-flex-controls="hide" data-flex-directions="show" data-flex-controlsalign="center" data-flex-captionhorizontal="" data-flex-captionvertical=""
                                data-flex-controlsposition="" data-flex-directions-type="">
                                <ul class="slides">
                                    <li>
                                        <img src="<%=image_path("design/vector/img-5-800x600.png")%>" alt="some image">
                                    </li>
                                    <li>
                                        <img src="<%=image_path("design/vector/img-3-800x600.png")%>" alt="some image">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-head text-center">
                            <h3 class="post-title">
                                <a href="">
                                    It is cool &amp; responsive
                                </a>
                            </h3>
                            <small class="post-author">
                                <a href="blog.html">Dimitrios Pantazis,</a>
                            </small>
                            <small class="post-date">
                                <a href="">15 May 2014</a>
                            </small>
                            <div class="post-icon flat-shadow flat-hex">
                                <div class="hex hex-big">
                                    <i class="fa fa-picture-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="post-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quo, veniam culpa maiores iure distinctio atque similique veritatis rem et adipisci eveniet aspernatur aut sapiente amet doloremque eos quasi numquam.
                            </p>
                            <a class="more-link" href="">
                                read more
                            </a>
                        </div>
                        <div class="post-extras">
                            <div class="text-center">
                                <span class="post-category">
                                    <a href="">
                                        <i class="fa fa-folder-open"></i>
                                        blog
                                    </a>
                                </span>
                                <span class="post-tags">
                                    <i class="fa fa-tags"></i>

                                    <a href="post.html">
                                      design,
                                  </a>


                                  <a href="post.html">
                                      flat
                                  </a>



                              </span>
                          </div>
                          <div class="text-center">
                            <span class="post-link">
                                <a href="">
                                    <i class="fa fa-comments"></i>
                                    5 comments
                                </a>
                            </span>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="row">
        <div class="col-md-4">
            <div class="grid-post swatch-black-beige">
                <article class="post post-showinfo">
                    <div class="post-media">
                        <a class="feature-image magnific-youtube hover-animate" href="http://www.youtube.com/watch?v=cfOa1a8hYP8" title="Thats a nice image">
                            <img alt="some image" src="<%=image_path("design/vector/img-2-800x600.png")%>">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                    <div class="post-head text-center">
                        <h3 class="post-title">
                            <a href="post.html">
                                Everybody loves it
                            </a>
                        </h3>
                        <small class="post-author">
                            <a href="blog.html">Chris Pantazis,</a>
                        </small>
                        <small class="post-date">
                            <a href="post.html">17 January 2014</a>
                        </small>
                        <div class="post-icon flat-shadow flat-hex">
                            <div class="hex hex-big">
                                <i class="fa fa-film"></i>
                            </div>
                        </div>
                    </div>
                    <div class="post-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quo, veniam culpa maiores iure distinctio atque similique veritatis rem et adipisci eveniet aspernatur aut sapiente amet doloremque eos quasi numquam.
                        </p>
                        <a class="more-link" href="post.html">
                            read more
                        </a>
                    </div>
                    <div class="post-extras">
                        <div class="text-center">
                            <span class="post-category">
                                <a href="post.html">
                                    <i class="fa fa-folder-open"></i>
                                    News
                                </a>
                            </span>
                            <span class="post-tags">
                                <i class="fa fa-tags"></i>

                                <a href="post.html">
                                  design,
                              </a>


                              <a href="post.html">
                                  flat,
                              </a>


                              <a href="post.html">
                                  responsive
                              </a>


                          </span>
                      </div>
                      <div class="text-center">
                        <span class="post-link">
                            <a href="post.html">
                                <i class="fa fa-comments"></i>
                                4 comments
                            </a>
                        </span>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="col-md-4">
        <div class="grid-post swatch-black-beige">
            <article class="post post-showinfo">
                <div class="post-media">
                </div>
                <div class="post-head text-center">
                    <h3 class="post-title">
                        <a href="post.html">
                            It is so cheap
                        </a>
                    </h3>
                    <small class="post-author">
                        <a href="blog.html">Mary Doe,</a>
                    </small>
                    <small class="post-date">
                        <a href="post.html">30 June 2014</a>
                    </small>
                    <div class="post-icon flat-shadow flat-hex">
                        <div class="hex hex-big">
                            <i class="fa fa-quote-left"></i>
                        </div>
                    </div>
                </div>
                <div class="post-body">
                    <blockquote>
                        <p>Cras aliquet felis in magna accumsan, sit amet mattis arcu auctor. Nunc sollicitudin auctor adipiscing. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam
                            lacus ante, egestas id pellentesque vel, tempus at justo.</p>
                            <small>
                                Chris Pantazis
                                <cite title="Source Title"> Oxygenna magazine</cite>
                            </small>
                        </blockquote>
                        <a class="more-link" href="post.html">
                            read more
                        </a>
                    </div>
                    <div class="post-extras">
                        <div class="text-center">
                            <span class="post-category">
                                <a href="post.html">
                                    <i class="fa fa-folder-open"></i>
                                    Flat
                                </a>
                            </span>
                            <span class="post-tags">
                                <i class="fa fa-tags"></i>

                                <a href="post.html">
                                  design,
                              </a>


                              <a href="post.html">
                                  quotes
                              </a>



                          </span>
                      </div>
                      <div class="text-center">
                        <span class="post-link">
                            <a href="post.html">
                                <i class="fa fa-comments"></i>
                                2 comments
                            </a>
                        </span>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="col-md-4">
        <div class="grid-post swatch-black-beige">
            <article class="post post-showinfo">
                <div class="post-media">
                    <a class="feature-image magnific-vimeo hover-animate" href="http://vimeo.com/20061744" title="Let&#x27;s talk about it">
                        <img alt="some image" src="<%=image_path("design/vector/img-1-800x600.png")%>">
                        <i class="fa fa-play"></i>
                    </a>
                </div>
                <div class="post-head text-center">
                    <h3 class="post-title">
                        <a href="post.html">
                            Everybody loves it
                        </a>
                    </h3>
                    <small class="post-author">
                        <a href="blog.html">Chris Pantazis,</a>
                    </small>
                    <small class="post-date">
                        <a href="post.html">15 August 2014</a>
                    </small>
                    <div class="post-icon flat-shadow flat-hex">
                        <div class="hex hex-big">
                            <i class="fa fa-film"></i>
                        </div>
                    </div>
                </div>
                <div class="post-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quo, veniam culpa maiores iure distinctio atque similique veritatis rem et adipisci eveniet aspernatur aut sapiente amet doloremque eos quasi numquam.
                    </p>
                    <a class="more-link" href="post.html">
                        read more
                    </a>
                </div>
                <div class="post-extras">
                    <div class="text-center">
                        <span class="post-category">
                            <a href="post.html">
                                <i class="fa fa-folder-open"></i>
                                Posts
                            </a>
                        </span>
                        <span class="post-tags">
                            <i class="fa fa-tags"></i>

                            <a href="post.html">
                              design,
                          </a>


                          <a href="post.html">
                              blog
                          </a>



                      </span>
                  </div>
                  <div class="text-center">
                    <span class="post-link">
                        <a href="post.html">
                            <i class="fa fa-comments"></i>
                            6 comments
                        </a>
                    </span>
                </div>
            </div>
        </article>
    </div>
</section>