<div id="content" role="main">
    <section class="section swatch-black-beige">
        <div class="background-media skrollable skrollable-between cityimage" data-start="background-position: 50% 0px" data-top-bottom="background-position: 50% -200px">
        </div>
        <div class="background-overlay" style="background-color:rgba(0,0,0,0.5)"></div>
        <div class="container">
            <header class="section-header underline">
                <h1 class="headline hyper hairline">Timba</h1>
                <p class="big">Gaming in your Rhythm</p>
            </header>
        </div>
    </section>
    
    <%= render "pages/home/services" %>
    <%= render "pages/home/latest_work" %>
    <%= render "pages/home/team" %>
    <%= render "pages/home/clients" %>
    <%= render "pages/home/news" %>
</div>